config.yaml
*.json
*.csv
*.log
*.png
*.pdf
*.zip
*.pkl
data/quads/*
forecasting/llm/files/rankings*
forecasting/llm/files/results*
forecasting/*/files/rankings*
forecasting/*/files/results*
*matching/*.txt
*all_artists.txt
*entity2id_full.txt
*/matching/entity*
*entity2id_full.txt
forecasting/llm/tgb/datasets/*csv
forecasting/llm/tgb/datasets/*pkl
forecasting/llm/tgb/datasets/*txt
forecasting/llm/tgb/datasets/old*
*_pycache*
*entity2id*
*relation2id*
*time2id*
*PREEXPERIMENT*
*tgb_backup*